@charset "utf-8";
/* CSS Document */

/* box-sizing reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* end box-sizing reset */


body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
  color: #353935;
}

/* Header Section */

header{
  position: relative;
}

header .header-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 208px;
  color: whitesmoke;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/andre-tan-image-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-content h1{
  margin: 0;
  text-shadow: 1px 1px 1px black;
}

.header-content a{
  font-weight: 500;
  color: whitesmoke;
  text-shadow: 1px 1px 1px black;
}

.form-container{
  position: absolute;
  bottom: -8.5%;
  left: auto;
  width: 100%;
  max-width: 500px;
}

header .form{
  display: flex;
  align-items: center;
  border: 1px solid #D1D5DB;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.051);
  width: 100%;
  max-width: 462px;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  margin: 0 auto;
}

.form a{
  display: inline-block;
  margin: 0 8px 0 14px;
}

.form img{
  display: block;
  width: 16px;
}

.form input[type="text"]{
  width: 100%;
  padding: 9px 0;
  border: none;
  outline: none;
}

.form button{
  color: #374151;
  background-color: #F9FAFB;
  border: none;
  border-left: 1px solid #D1D5DB;
  cursor: pointer;
  padding: 9px 30px;
}

/* Main Section */

main{
  height: 100%;
}

main .buffer{
  width: 100%;
  height: 17px;
}

.explore-container,
.watchlist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.explore-container img{
  margin: 0 auto 8px;
  display: block;
  width: 70px;
}

.explore-container p{
  max-width: 320px;
}

.style-content{
  color: #DFDDDD;
  margin: 0;
  font-size: 1.13rem;
  text-align: center;
}

/* Watchlist HTML Page*/

.watchlist-container p{
  max-width: 400px;
}

.watchlist-container a{
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 15px;
}

.watchlist-container a > img{
  /* display: inline-block; */
  width: 18px;
}

.watchlist-container a > p{
  width: fit-content;
  margin: 0;
  color: #363636;
  font-weight: 700;
}

.hidden{
  display: none;
}

/* Movies Container */

.movies-container{
  padding-top: 24px;
  overflow: scroll;
  height: 95%;
  
}

.movie-item{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  max-width: 470px;
  margin: 0 auto;
  padding: 20px 8px 20.5px;
  padding-bottom: 20.5px;
  border-bottom: 1.5px solid #E5E7EB;
}

.movie-descriptions{
  margin: 0;
  padding-top: 15px;
  padding-left: 0;
  list-style: none;
}

.movie-poster{
  max-width: 99px;
  max-height: 147.5px;
}

.rating-content{
  display: flex;
  align-items: center;
  gap: 3px;
}

.movie-descriptions li:nth-child(1){
  display: flex;
  align-items: center;
  color: #111827;
  gap: 8px;
}

.movie-details{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 11px;
  font-size: 45px;
  gap: 19px;
}

.star-icon,
.add-icon,
.remove-icon {
  display: block;
  width: 16px;
  height: 16px;
}

.movie-item h2{
  margin: 0;
  font-size: 1.125rem;
  font-weight: 500;
  text-wrap: balance;
}

.add-to-wishlist-btn,
.remove-from-wishlist-btn {
  display: flex;
  gap: 5px;
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 0;
}

.ratings,
.movie-details {
  font-size: 0.75rem;
}

.movie-summary{
  max-width: 342px;
}

.movie-summary p{
  margin: 8px 0 0;
  font-size: 0.875rem;
  color: #6B7280;
}

/* Read more */

.summary-text.collapsed {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.read-more-btn{
  color: #272727;
  font-size: 12px;
  border: none;
  background-color: white;
  cursor: pointer;
  float: right;
  position: relative;
  top: -1.2em;
  padding: 0;
}

/* Footer Section */

footer{
  align-self: center;
  padding: 10px 0;
}

/* Small Devices (Landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* Styles for small devices and up */
  header .header-content{
    gap: 50px;
  }

  /* .movie-descriptions li:nth-child(1){
    gap: 8px;
  } */

  .movie-item h2{
  }
}

/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 768px) {
  /* Styles for tablets and up */
}

/* Large Devices (Desktops, 992px and up) */
@media (min-width: 992px) {
  /* Styles for desktops and up */
}

/* Extra Large Devices (Large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Styles for large desktops and up */
}

/* Extra Extra Large Devices (Larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* Styles for extra large desktops and up */
}