@charset "utf-8";
/* CSS Document */

/* box-sizing reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* end box-sizing reset */


body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
  color: #353935;
}

header{
  position: relative;
}

header .header-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 208px;
  color: whitesmoke;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/andre-tan-image-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-content h1{
  margin: 0;
  text-shadow: 1px 1px 1px black;
}

.header-content a{
  font-weight: 500;
  color: whitesmoke;
  text-shadow: 1px 1px 1px black;
}

.form-container{
  position: absolute;
  bottom: -8.5%;
  left: auto;
  width: 100%;
  max-width: 500px;
}

header .form{
  display: flex;
  align-items: center;
  border: 1px solid #D1D5DB;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.051);
  width: 100%;
  max-width: 462px;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  margin: 0 auto;
}

.form a{
  display: inline-block;
  margin: 0 8px 0 14px;
}

.form img{
  display: block;
  width: 16px;
}

.form input[type="text"]{
  width: 100%;
  padding: 9px 0;
  border: none;
  outline: none;
}

.form button{
  color: #374151;
  background-color: #F9FAFB;
  border: none;
  border-left: 1px solid #D1D5DB;
  cursor: pointer;
  padding: 9px 30px;
}

main{
  height: 100%;
}

main .buffer{
  width: 100%;
  height: 17px;
}

main .explore-container,
.watchlist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.explore-container img{
  margin: 0 auto 8px;
  display: block;
  width: 70px;
}

.explore-container p{
  max-width: 320px;
}

.style-content{
  color: #DFDDDD;
  margin: 0;
  font-size: 1.13rem;
  text-align: center;
}

/* Watchlist Page*/

.watchlist-container p{
  max-width: 400px;
}

.watchlist-container a{
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 15px;
}

.watchlist-container a > img{
  /* display: inline-block; */
  width: 18px;
}

.watchlist-container a > p{
  width: fit-content;
  margin: 0;
  color: #363636;
  font-weight: 700;
}

.hidden{
  display: none;
}



footer{
  align-self: center;
  padding: 10px 0;
}


/* Small Devices (Landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* Styles for small devices and up */
  header .header-content{
  gap: 50px;
}
}

/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 768px) {
  /* Styles for tablets and up */
}

/* Large Devices (Desktops, 992px and up) */
@media (min-width: 992px) {
  /* Styles for desktops and up */
}

/* Extra Large Devices (Large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Styles for large desktops and up */
}

/* Extra Extra Large Devices (Larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* Styles for extra large desktops and up */
}